extends base
block content
    .col
        h2 Publier une question
        .card
            .card-body
                form(method='post')
                    .form-group
                        label(for='label-field')
                            small.form-text.text-muted  Titre de la question
                        input.form-control(name='title' id='label-field')
                    .form-group
                        label(for='description-field')
                            small.form-text.text-muted Description
                        textarea.form-control(id='description-field'  name='description')
                    button(type='submit').btn.float-right.btn-success Publier
    block scripts
        script(src='/scripts/tinymce/tinymce.min.js')
        script(src='/scripts/question.min.js')
