html
    head
        title Jules LAURENT - FORUM
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(rel='stylesheet' href="/css/nav.css")
        link(rel='stylesheet' href="/css/style.css")
        link(rel='stylesheet' href="/css/main.min.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        block links
    body
        include navbar.pug
        main.container
            block content
                input(placeholder="Type Word")
                input.empty(placeholder="Type Word")
                div.input-wrapper
                    input.valid(placeholder="Type Word")
                    i.input-icon.fa.fa-check
                div.input-wrapper
                    input.error(placeholder="Type Word")
                    i.input-icon.fa.fa-times
                a(href='salut').btn.btn-success caca
                label.checkbox-wrapper
                    input(type="checkbox" id='chk')
                    div.checkbox-box
                        div.checkbox-mark.fa.fa-check
                    div.checkbox-label Salut
        script(src="/scripts/jquery.min.js")
        script(src="/scripts/bootstrap.min.js")
        block scripts