html
    head
        title Jules LAURENT - FORUM
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
        link(rel='stylesheet' href="/css/nav.css")
        link(rel='stylesheet' href="/css/style.css")
        link(rel='stylesheet' href="/css/main.min.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        block links
    body
        include navbar.pug
        main.container
            block content
        script(src="/scripts/jquery.min.js")
        block scripts