extends base.pug
block content
    .row.justify-content-center.login
        .col.col-md-4
            .card
                .card-header.text-center
                    span.fa-stack.fa-2x.card-up-icon
                        i.fas.fa-circle.fa-stack-2x
                        i.fas.fa-paper-plane.fa-stack-1x.fa-inverse.fa-flip-horizontal
                    div Welcome back ! Please login.
                .card-body
                    form(method='post' action='/login?redirectTo=' + redirectTo)
                        .form-group
                            label(for='username-field')
                                small.form-text.text-muted  Nom d'utilisateur
                            input.form-control(name='username' id='username-field')
                        .form-group
                            label(for='password-field')
                                small.form-text.text-muted Mot de passe
                            input.form-control(id='password-field' type='password' name='password')
                        button(type='submit').btn.btn-block.btn-success Se connecter
            div Don't have an account ?
                a(href='/register?redirectTo='+redirectTo) Get started !