extends base
block content
    div
        div.row
            div.col.col-expand
                h2 Dernières questions
        div.row.v-spaced
            div.col.col-md-5
                .card
                    .card-body
                        img.img-fit(src='https://placehold.it/400x200')
                        div.row.align-items-center
                            div.col.col-expand
                                h3 Featured stuff
                                small.text-muted Salut les loosers
                            div.col
                                a(href='#').btn.btn-success Voir
            div.col.col-md-5
                .card
                    .card-body
                        img.img-fit(src='https://placehold.it/400x200')
                        div.row.align-items-center
                            div.col.col-expand
                                h3 Featured stuff
                                small.text-muted Salut les loosers
                            div.col
                                a(href='#').btn.btn-success Voir

        div.row.v-spaced
            div.col.col-expand
                .card
                    .card-stack
                        h1 Toutes les questions | 35 questions
                    .card-stack.darken
                        div.row
                            div.col.col-md-3 Question
                            div.col.col-md-3 Date
                            div.col.col-md-2 Status
                            div.col.col-md-2 Lien
                    .card-stack
                        div.row.align-items-center
                            div.col.col-md-3
                                div Ceci est une question ?
                                small.text-muted Jules LAURENT
                            div.col.col-md-3
                                div 2016-08-01 15:24:00
                            div.col.col-md-2
                                div Résolu
                            div.col.col.col-md-2
                                a(href="#").btn.btn-success Voir


