extends base
block content
    div.col.col-md-8
        .card
            .card-body
                div.row.align-items-center
                    div.col.col-1
                        img.rounded-circle(src='http://placehold.it/50x50')
                    div.col.col-11
                        h3 #{question.title}
                        small #{question.user.firstname} #{question.user.lastname}
                p.card-text #{question.description}
    div.col.col-md-4
