h3 Créer un compte
form(action='/register' method='post')
    if errors && errors.signup
        for message in errors.signup
            div #{message}
    div
        label(for='lastname-field') NOM
        input(name='lastname' id='lastname-field')
    div
        label(for='firstname-field') Prénom
        input(name='firstname' id='firstname-field')
    div
        label(for='email-field') Adresse e-mail
        input(name='email' id='email-field' type='email')
    div
        label(for='password-field') Mot de passe
        input(id='password-field' type='password' name='password')
    button(type='submit').btn.btn-block Créer un compte