extends base
block main
    main.container.container-small
        div.row
            div.col.col-side
                a(href='#').vanilla.card.followed.darken
                    .card-body
                        div.row.align-items-center
                            div.col
                                i.fa.fa-fw.fa-user.fa-2x
                            div.col-expand
                                div Profile
                                small.text-muted How your account looks like
                a(href='#').vanilla.card.followed.darken
                    .card-body
                        div.row.align-items-center
                            div.col
                                i.fa.fa-fw.fa-comments.fa-2x
                            div.col-expand
                                div Notifications
                                small.text-muted How your account looks
                a(href='#').vanilla.card.followed.darken
                    .card-body
                        div.row.align-items-center
                            div.col
                                i.fa.fa-fw.fa-history.fa-2x
                            div.col-expand
                                div Answers history
                                small.text-muted All solutions you gaved
                a(href='#').vanilla.card.followed.darken
                    .card-body
                        div.row.align-items-center
                            div.col
                                i.fa.fa-fw.fa-shopping-cart.fa-2x
                            div.col-expand
                                div Billing
                                small.text-muted Give money fag !
                a(href='#').vanilla.card.followed.darken
                    .card-body
                        div.row.align-items-center
                            div.col
                                i.fa.fa-fw.fa-life-ring.fa-2x
                            div.col-expand
                                div Assistance
                                small.text-muted Mayday mayday




            div.col.col-main
                .card
                    .card-body
                        h1 My Profile
                        .row.align-items-center
                            .col
                                img.rounded-circle(src='http://placehold.it/70x70')
                            .col.col-expand
                                .form-group
                                    label(for='username-field')
                                        small.form-text.text-muted  Nom d'utilisateur
                                    input.form-control(name='username' id='username-field' value=user.firstname + ' ' + user.lastname)
                        div.form-group
                            label(for='bio-field')
                                small.text-muted BIO
                            textarea.form-control(id='bio-field' name='bio')
                                | #{user.bio}
                        div.form-group
                            label(for='email-field')
                                small.text-muted Adresse e-mail
                            div.row.align-items-center
                                div.col.col-expand.no-margin
                                    input.form-control(name='email' id='email-field' type='email' value=user.email disabled)
                                div.col
                                    button.btn-success.btn Change
                        div.form-group
                            label(for='password-field')
                                small.text-muted Mot de passe
                            div.row.align-items-center
                                div.col.col-expand.no-margin
                                    input.form-control(id='password-field' type='password' name='password' value="random" disabled)
                                div.col
                                    button.btn-success.btn Change