button.btn-block {
    width: 100%;
}

#answers-wrapper{
    margin-left:200px;
}

#add-survey-toggle {
    font-size: 2em;
    color : white;
    height: 200px;
}

.card.survey{
    height: 200px;
}

.card.survey .card-content {
    height: 142.5px;
}
.link-container {
    position: absolute;
    left:     -2000px;
    top:      -1000px;
}

.row {
    flex-wrap: wrap;
}