input {
  border: solid 1px $input-basic;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  color:$input-basic;
  display: block;
  width: 100%;
  margin-bottom: 10px ;

  ~ .input-icon   {
    visibility: hidden;
  }

  &.empty {
    color: $input-empty;
    border-color: $input-empty;


  }

  &.valid {
    border-color: $success;
    ~ .input-icon   {
      visibility: visible ;
      color: $success;
    }
  }

  &.error {
    border-color: $danger;
    ~ .input-icon   {
      visibility: visible ;
      color: $danger;
    }
  }
}

.input-wrapper {
  position: relative;
  .input-icon {
    position: absolute;
    top: 35%;
    right: 15px;
  }
}

