$menu-item: #00AEEF;
$logo-hover: #FECF39;
$label-topbar: #FFDF6D;
$label-picture : #dbdbdb;
$search-box: #81736a;
$violet : #8781bd;
$success-max: #00797A;
$success-link: #74c7a8;
$error-link: #ffa2ad;
$profile-ba: #00aeef;

$primary: $menu-item;
