$menu-item: #00AEEF;
$logo-hover: #FECF39;
$label-topbar: #FFDF6D;
$label-picture : #dbdbdb;
$search-box: #81736a;
$violet : #8781bd;
$success-max: #00797A;
$success-link: #74c7a8;
$error-link: #ffa2ad;
$profile-bar: #00aeef;
$link: $profile-bar;
$link-clicked: #009AD4;
$text: #393c3e;
$text-light: #71787e;

$primary: $menu-item;
