@import "colors";
@import "bootstrap";
@import "fonts";
@import "forms";
@import "error";
@import "navbar";
@import "container";
@import "login";
@import "cards";

body {
  background-color: $background;
}

.container {
  margin-top: 99px;
}
//.container,.navbar {
//  opacity: 0.5;
//}

.card-up-icon {
  margin-top: -10%;
  color: $primary;
  margin-bottom: 14px;
}